
$linkColor:#fff; // link Color;

$contentColor:#fff; // Body Content Color

$headerColor:#fff; //Header Color

$contentFont:'Fira Sans Regular'; // Content Font

$headerFont: 'Fira Sans Medium'; // Header Font

$lgTempFont: 'Fira Sans Medium'; // Large temperature number

